.form {
    width: 100%;
    max-width: 300px;
    background-color: white;
    padding: 1em 1.5em 2.5em;
    border-radius: 0.8em;
    position: relative;
}
.form_x {
    position: absolute;
    top: 0.7em;
    right: 1.5em;
    cursor: pointer;
    font-size: 1.2rem;
    color: rgb(214, 35, 35);
}
.form_x:hover {
    transform: scale(1.2);
}
.form_title {
    text-align: center;
    font-size: 1.3rem;
    margin-bottom: 1em;
}
.form_label {
    display: block;
    display: flex;
    flex-direction: column;
    gap: 0.2em;
    margin-bottom: 1em;
}
.form_field_name {
    font-weight: 300;
    padding-left: 1.5em;
    font-size: 0.9rem;
}
.form_field {
    padding: 0.3em 1em;
    background-color: rgb(244, 244, 244);
    border: 1px solid #aaa5;
    font-weight: 300;
    color: #555;
}
.form_btn {
    margin-top: 1em;
    font-size: 1rem;
    border: none;
    padding: 0.5em 0;
    font-weight: 300;
    background-color: #555a88;
    color: white;
    border-radius: 0.5em;
}
.form_btn:hover {
    filter: brightness(1.2);
}