@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    box-sizing: border-box;
}
html {
    font-family: 'Roboto', sans-serif;
}
h1,h2,h3, p, ul, hr {
    margin-top: 0;
    margin-bottom: 0;
}
ul {
    list-style: none;
    padding-left: 0;
}
input, button{
    font-family: inherit;
}
button {
    cursor: pointer;
}
input {
    outline: none;
}
img{
    display: block;
}